/* css */
h2, h4, #remaining, #unionOptions {
  text-align: center;
}
body {
  background-color: rgba(50, 86, 139, 0.71);
  font-weight: bold;
}

p {
  padding: 320px;
  text-align: center;
  width: 100%;
}

/* .container {
  left: 475px;
  top: 475px;
  margin: auto;
  width: 50%;
  position: absolute;
} */
#submit {
  width: 100%;
  background-color: green;
  border: 2px solid black;
  margin: 8px 0;
  border-radius: 4px;
}

input {
  margin: 8px 0;
  width: 95px;
}

form {
  margin: 0 auto;
  width: 500px;
}

.catcardbox {
  position: absolute;
  left: 500px;
  top: 720px;
}
/* catcard */
.catcard{
  position: absolute;
  width: 313px;
  height: 200px;
  background: #FFFFFF;
  border: 1px solid red;
  box-sizing: border-box;
}

/* bluerec */

.bluerec {
position: absolute;
width: 124px;
height: 200px;
left: 190px;
background: #253E9A;
}

/* img */

.frame {
position: absolute;
width: 98px;
height: 116px;
left: 40px;
top: 34px;
background: #DE9292;
}

/* number */
.number {
  position: absolute;
  width: 81px;
  height: 14px;
  top: 175px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  left: 40px;
}


/* Redrec */

.redrec {
position: absolute;
width: 33px;
height: 200px;

background: #E71B1B;
}

/* S T U D E N T */

.student {
position: absolute;
width: 17px;
height: 138px;
top: 24px;
left: 6px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;
writing-mode: vertical-rl;
text-orientation: upright;
}


/* DAVIDSON */

.davidson {
  position: absolute;
  width: 91px;
  height: 22px;
  left: 205px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  top: 168px;
}

.wildcat {
  position: absolute;
  left: 40px;
  top: 46px;
}

.statue {
  position: absolute;
  left: 203px;
  top: 16px;
  opacity: 0.7;
}
